body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #5a82bb;
  background-size: cover;
  color: white;
}

#canvas-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  border: 5px solid #683a22; /* Gold border around the canvas */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  background: rgba(255, 255, 255, 0.1); /* Slightly translucent white background */
}
canvas {
  border: 2px solid #FF4500; /* Gold border for the canvas */
  border-radius: 5px;
}
  .button-container {
    display: flex;
    gap: 10px;
  }
  .controls-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
  }

  .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .control span {
      color: #FFD700; /* Gold color for text */
      margin-right: 10px;
  }

  .control input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      background: #FF4500; /* Dorito red-orange track */
      outline: none;
      border-radius: 5px;
      transition: background 0.3s;
      touch-action: none;
  }

  .control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url('https://dorito-glasses-maker.netlify.app/DoritoChip.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }

  .control input[type="range"]::-webkit-slider-thumb:hover {
      transform: scale(1.1);
  }

  .control input[type="range"]::-moz-range-thumb {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: url('https://dorito-glasses-maker.netlify.app/DoritoChip.png') no-repeat center center;
      background-size: contain;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
  }

  .control input[type="range"]::-moz-range-thumb:hover {
      transform: scale(1.1);
  }

  .control input[type="range"]::-ms-thumb {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: url('https://dorito-glasses-maker.netlify.app/DoritoChip.png') no-repeat center center;
      background-size: contain;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
  }

  .control input[type="range"]::-ms-thumb:hover {
      transform: scale(1.3);
  }


  .control input[type="range"]::-moz-range-track {
      background: #73ee73;
      border-radius: 5px;
  }

  .control input[type="range"]::-ms-track {
      background: transparent;
      border-color: transparent;
      color: transparent;
  }

  .control input[type="range"]::-ms-fill-lower {
      background: #32406C;
      border-radius: 5px;
  }

  .control input[type="range"]::-ms-fill-upper {
      background: #32406C;
      border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fea515; /* Dorito orange button */
    color: #1A1A1A; /* Dark text color for contrast */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  button:hover {
    background-color: #de4e1c; /* Dorito red-orange on hover */
  }
  button:active {
    transform: scale(0.95);
  }
  input[type="file"] {
    display: none;
  }
  label {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fea515; /* Dorito orange label */
    color: #1A1A1A; /* Dark text color for contrast */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  label:hover {
    background-color: #de4e1c; /* Dorito red-orange on hover */
  }
  label:active {
    transform: scale(0.95);
  }
  h1 {
    color: #FFD700; /* Gold color for title */
  }
  @media (max-width: 600px) {
      #canvas-container {
          max-width: 100%;
          height: auto;
      }

      canvas {
          width: 100%;
          height: auto;
      }
  }
  